
.fsm-state{
    stroke-width:2;
    fill:white;
    stroke:black;
}
.fsm-state-normal{
    stroke:black;
    fill:white;
}
.fsm-state-start{
    fill: yellow;
}

.fsm-state-final{
    stroke:blue;
}

.fsm-state-label{
    fill:blue;
    font-weight: bold;
}
.fsm-state-select{
    stroke: black;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 5 2;
}

.fsm-transition{
    stroke: blue;
    stroke-width:2;
}
.fsm-transition-self{
    stroke: blue;
    stroke-width:2;
}
.fsm-transition-label{
    font-weight:bold;
    fill:blue;
}
.fsm-transition-arrow{
    fill: #f00;
} 
.fsm-transition-arrow-creating{
    fill: #f00;
}