<svg:defs>
    <svg:marker id="arrow" markerWidth="9" markerHeight="9" refX="9" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 9 9">
        <svg:path class='fsm-transition-arrow' d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </svg:marker>
    <svg:marker id="arrowlong" markerWidth="9" markerHeight="9" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 9 9">
        <svg:path class='fsm-transition-arrow fsm-transition-arrow-creating' d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </svg:marker>
</defs>

<!--Container for rotations-->
<svg:g [attr.transform]='"rotate("+theta+","+transition.sourceState.x+","+transition.sourceState.y+")"'>
<!--The line segment-->
<svg:line class='fsm-transition' 
    [attr.x1]='transition.sourceState.x+stateRadius' 
    [attr.y1]='transition.sourceState.y' 
    [attr.x2]='projection.x' 
    [attr.y2]='projection.y' 
    stroke-width='2' stroke='black' 
    [attr.marker-end]='(transition.destState.name==="temp"?"url(#arrowlong)":"url(#arrow)")'
/>
<!--The character class[attr.rotate]='textRotate'-->
<svg:svg [attr.x]='transition.sourceState.x' [attr.y]='transition.sourceState.y-(textRotate===180? 0 :textheight)' [attr.width]='length' [attr.height]='textheight' >
    <svg:g [attr.transform]='"translate(" + length + "," + textheight +") rotate("+textRotate+")"'>
<svg:text class='fsm-transition-text-element' #textEl [attr.x]='length / 2' [attr.y]='textheight/2' text-anchor='middle' alignment-baseline='central'>
            {{transition.charactersAccepted}}
        </svg:text>
    </svg:g>
</svg:svg>
<!--The selection box-->
<ng-template [ngIf]='selected'>
    
<svg:rect class='fsm-transition-selected' stroke-width='1' stroke='black' stroke-dasharray='5 2' fill='transparent'
    [attr.x]='transition.sourceState.x+stateRadius'
    [attr.y]='transition.sourceState.y-5'
    [attr.width]='length'
    [attr.height]='10'
    />
</ng-template>
<!--hidden event target for transition events-->
<svg:rect stroke='transparent' fill='transparent'
    [attr.x]='transition.sourceState.x+stateRadius'
    [attr.y]='transition.sourceState.y-5'
    [attr.width]='length'
    [attr.height]='10'
    (click)='onClick($event)'
    (dblclick)='onDblClick($event)'
    (contextmenu)='onContextMenu($event)'
    (mousedown)='onMouseDown($event)'
    (mouseenter)='onMouseEnter($event)'
    (mouseleave)='onMouseLeave($event)'
    (mousemove)='onMouseMove($event)'
    (mouseout)='onMouseOut($event)'
    (mouseover)='onMouseOver($event)'
    (mouseup)='onMouseUp($event)'
    />
</svg:g>
