<svg:defs>
    <svg:marker id="arrow" markerWidth="9" markerHeight="9" refX="9" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 9 9">
        <svg:path class='fsm-transition-arrow' d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </svg:marker>
    <svg:marker id="arrowlong" markerWidth="9" markerHeight="9" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 9 9">
        <svg:path class='fsm-transition-arrow fsm-transition-arrow-creating' d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </svg:marker>
    <path [attr.id]='uniqueID' [attr.d]='curvyTextPath' />
    </defs>

    <!--Container for rotations-->
    <svg:g [attr.transform]='"rotate("+theta+","+transition.sourceState.x+","+transition.sourceState.y+")"'>

        <ng-template [ngIf]='transition.sourceState!==transition.destState'>
            <!--The line segment quadratic curve-->
            <svg:path #transPath [ngClass]='{"i-fsm-transition-selected": selected }' class='fsm-transition' stroke-width='2' stroke='blue'
                fill='none' [attr.d]='curvyPath' marker-end='url(#arrow)' />
            <!--The text element-->
            <svg:text class='fsm-transition-label' [attr.x]='curveLength/2' stroke-width='1' fill='blue' text-anchor='middle' [attr.transform]='"translate(0,"+textvoffset+")"'>
                <svg:textPath attr.xlink:href='#{{uniqueID}}' side='right'>
                    {{transition.charactersAccepted}}
                </svg:textPath>
            </svg:text>
            <svg:text class='fsm-transition-label' style='fill:none;stroke:none;' #TextSample x='60' y='220' stroke-width='1' fill='none'
                text-anchor='middle'>
                {{transition.charactersAccepted}}
            </svg:text>
        </ng-template>

        <ng-template [ngIf]='transition.sourceState===transition.destState'>
            <svg:g [attr.transform]='"rotate("+transition.rotation+","+transition.sourceState.x+","+transition.sourceState.y+")"'>
            <svg:path [ngClass]='{"i-fsm-transition-selected": selected }' class='fsm-transition fsm-transition-self' [attr.d]='linkToSelfPath'
                stroke='blue' fill='none' stroke-width='2' marker-end='url(#arrowlong)'></svg:path>
            <svg:text [attr.x]='transition.sourceState.x+stateRadius*2' [attr.y]='transition.sourceState.y+stateRadius*2' class='fsm-transition-label' stroke-width='1' fill='blue' text-anchor='middle'
            [attr.transform]='(transition.rotation>90 && transition.rotation<270?"translate("+(2*(transition.sourceState.x+stateRadius*2)-5)+","+(2*(transition.sourceState.y+stateRadius*2)-5)+") scale(-1,-1)":"")'>
                {{transition.charactersAccepted}}
            </svg:text>
            </svg:g>
        </ng-template>


        <!--hidden event targets: one for each transition type, enlarged to 10 pixels wide to make selection easier-->
        <ng-template [ngIf]='transition.sourceState!==transition.destState'>
            <svg:path stroke-width='10' stroke='transparent' fill='none' [attr.d]='curvyPath' (click)='onClick($event)' (dblclick)='onDblClick($event)'
                (contextmenu)='onContextMenu($event)' (mousedown)='onMouseDown($event)' (mouseenter)='onMouseEnter($event)' (mouseleave)='onMouseLeave($event)'
                (mousemove)='onMouseMove($event)' (mouseout)='onMouseOut($event)' (mouseover)='onMouseOver($event)' (mouseup)='onMouseUp($event)'
            />
        </ng-template>
        <ng-template [ngIf]='transition.sourceState===transition.destState'>
            <svg:path [attr.d]='linkToSelfPath' stroke='transparent' fill='none' stroke-width=10 [attr.transform]='"rotate("+transition.rotation+","+transition.sourceState.x+","+transition.sourceState.y+")"'
                (click)='onClick($event)' (dblclick)='onDblClick($event)' (contextmenu)='onContextMenu($event)' (mousedown)='onMouseDown($event)'
                (mouseenter)='onMouseEnter($event)' (mouseleave)='onMouseLeave($event)' (mousemove)='onMouseMove($event)' (mouseout)='onMouseOut($event)'
                (mouseover)='onMouseOver($event)' (mouseup)='onMouseUp($event)'></svg:path>
        </ng-template>

    </svg:g>