<div style='width:100%;overflow:scroll' [style.height]='height' oncontextmenu='return false'>
  <div class='bg-drawing' style='width:2000px;height:2000px;'>
  </div>
</div>
<app-fsm-draw-controlbar (clear)='onCtrlbarClear()' (help)='onCtrlbarHelp()' (mode)='onCtrlbarMode($event)' (validate)='onCtrlbarValidate()' (zoom)='onCtrlbarZoom($event)'>
</app-fsm-draw-controlbar>

<!--State context menu
<div class="context-menu dropdown-menu" [ngStyle]="stateContextStyle">
  <a href='' class='dropdown-item' (click)='onStateContextDelete($event)'>Delete</a>
  <div class='dropdown-divider'>&nbsp;</div>
  <a href='' class='dropdown-item' (click)='onStateContextToggleStart($event)'>
    <span class='fas' [ngClass]='{"fa-check":_stateContextItem!=null && _stateContextItem.stateType==="start" || _stateContextItem.stateType==="startfinal" }'></span> Start State</a>
  <a href='' (click)='onStateContextToggleFinal($event)' class='dropdown-item '>
    <span class='fas' [ngClass]='{"fa-check":_stateContextItem!=null && _stateContextItem.stateType==="final" || _stateContextItem.stateType==="startfinal" }'></span>
    Final State</a>
</div>
-->