<div #parent style='width:100%;height: 100%;overflow: hidden;'>
  <div class='row' style='margin:0;position: relative;' [style.height.px]='parent.offsetHeight-cbar.offsetHeight'>

    <div [ngClass]='{"col-md-9":!readonly,"col-md-12": readonly}' style='padding:0;height:inherit'>
      <div class='scroll-container' style='height:inherit' oncontextmenu='return false'>

        <div class='draw-container bg-drawing' [style.height.px]='scrollsize' [style.width.px]='scrollsize'>
          <app-fsm-draw-surface [zoomPercent]='zoomPercent' (surfaceclick)='onSurfaceClick($event)' (surfacemousedown)='onSurfaceMouseDown($event)'
            (surfacemousemove)='onSurfaceMouseMove($event)' (surfacecontextmenu)='onSurfaceContextMenu($event)'>
            <ng-template ngFor let-item [ngForOf]='fsmSvc.fsmTransitions'>
              <svg:g app-fsm-draw-transition [transition]='item' [selected]='selected && selected===item' />
            </ng-template>
            <ng-template [ngIf]='transitionSelectedState'>
                <svg:g app-fsm-draw-transition [transition]='startTransition' />
              </ng-template>
              <ng-template ngFor let-item [ngForOf]='fsmSvc.fsmStates'>
              <svg:g app-fsm-draw-state [state]='item' [selected]='selected && selected===item' />
            </ng-template>
          </app-fsm-draw-surface>
        </div>
      </div>
    </div>
    <div *ngIf='!readonly' class='col-md-3' style='padding:0'>
        <app-fsm-draw-props [object]='selected'></app-fsm-draw-props>
    </div>
  </div>
  <div #cbar style='position: absolute;bottom:0;left:1px;right:1px;'>
    <app-fsm-draw-controlbar [readonly]='readonly' (newfile)='onCtrlbarNew()' (loadfile)='onCtrlbarLoad()' (savefile)='onCtrlbarSave()' (mode)='onCtrlbarMode($event)'
    (validate)='onCtrlbarValidate()' (zoom)='onCtrlbarZoom($event)'></app-fsm-draw-controlbar>
  </div>
</div>

<!--State context menu -->
<app-context-menu [open]='stateContextOpen'>
  <app-context-menu-item (itemclick)='onStateContextClickDelete($event)'>
    Delete
  </app-context-menu-item>
  <app-context-menu-item divider='true'></app-context-menu-item>
  <app-context-menu-item (itemclick)='onStateContextClickStart($event)' [checked]='stateContextOpen && (stateContextOpen.obj.stateType==="start"|| stateContextOpen.obj.stateType==="startfinal") '>
    Start State
  </app-context-menu-item>
  <app-context-menu-item (itemclick)='onStateContextClickFinal($event)' [checked]='stateContextOpen && (stateContextOpen.obj.stateType==="final"|| stateContextOpen.obj.stateType==="startfinal")'>
    Final State
  </app-context-menu-item>
</app-context-menu>

<!--Transition context menu-->
<app-context-menu [open]='transContextOpen'>
  <app-context-menu-item (itemclick)='onTransContextClickDelete($event)'>
    Delete
  </app-context-menu-item>
</app-context-menu>
<app-alert-modal></app-alert-modal>