<div class='scroll-container' [style.height]='height' oncontextmenu='return false'>
  <div class='draw-container bg-drawing'>
    <app-fsm-draw-surface 
      (surfaceclick)='onSurfaceClick($event)'
      (surfacedblclick)='onSurfaceDblClick($event)'
      (surfacemousedown)='onSurfaceMouseDown($event)'
      (surfacemousemove)='onSurfaceMouseMove($event)'
      (surfacecontextmenu)='onSurfaceContextMenu($event)'
    > 
        <ng-template ngFor let-item [ngForOf]='fsmSvc.fsmStates'>
            <svg:g app-fsm-draw-state [state]='item' [selected]='selected && selected===item'  />
          </ng-template>
        </app-fsm-draw-surface>
    
  </div>
</div>
<app-fsm-draw-controlbar [readonly]='readonly' (clear)='onCtrlbarClear()' (help)='onCtrlbarHelp()' (mode)='onCtrlbarMode($event)' (validate)='onCtrlbarValidate()' (zoom)='onCtrlbarZoom($event)'>
</app-fsm-draw-controlbar>

<!--State context menu -->
<app-context-menu [open]='stateContextOpen'>
  <app-context-menu-item (itemclick)='onStateContextClickDelete($event)' >
    Delete
  </app-context-menu-item>
  <app-context-menu-item divider='true'></app-context-menu-item>
  <app-context-menu-item (itemclick)='onStateContextClickStart($event)' [checked]='stateContextOpen && (stateContextOpen.obj.stateType==="start"|| stateContextOpen.obj.stateType==="startfinal") '>
    Start State
  </app-context-menu-item>
  <app-context-menu-item (itemclick)='onStateContextClickFinal($event)' [checked]='stateContextOpen && (stateContextOpen.obj.stateType==="final"|| stateContextOpen.obj.stateType==="startfinal")'>
      Final State
  </app-context-menu-item>
</app-context-menu>          