
.fsm {
    width:100%;
    height:100%;
    display: flex; 
    flex-direction: column;
    padding:0;
}
.flex-1{
    flex:1;min-height: 0;
}
.fsm .row{
    margin:0;
    padding:0;
}
.scroll-container{
    width:100%;height:100%;overflow:scroll;
    
}
.pad0{
    padding:0;
}
.pad1{
    padding: 1rem;
}
.status-box{
    padding: .1rem .5rem;
}