<div class='fsm' [style.background]='background' >
    <div style='flex:1;min-height: 0' class='row' >
        <div class='col-sm-9 h-100 pad0'  >
            
            <div style='width:100%;height:100%;overflow:scroll;'>
                <app-fsm-draw-surface dimension='4000' [zoompercent]='zoomPercent'></app-fsm-draw-surface>
            </div>
        </div>
        <div class='col-sm-3 h-100 pad0'>
            <app-fsm-draw-properties></app-fsm-draw-properties>
        </div>
    </div>
    <div class='row bg-light'>
        <div class='col-sm-9 h-100 pad0'>
            <app-fsm-draw-controlbar [(mode)]='mode'
                (zoom)='onCtrlbarZoom($event)'
            ></app-fsm-draw-controlbar>
        </div>
        <div class='col-sm-3 bg-light pad0' >
            <div class='h-100 border-left' style='padding: .1rem .5rem;' >
                Status box
            </div>
        </div>
    </div>
</div>