.full-screen-app{
    height:100vh;padding:1rem;display:flex;flex-direction:column;
}
.flex-1{
    flex:1;
    min-height: 0;
}
footer{
    text-align:center;
    color: silver;
    margin-top:1rem;
}