

.fsm-ctrlbar{
    margin:0;
    padding-right:1rem;
    padding-left:1rem;
}
.navbar{
    padding:0px;
 
}

.ctrlBarGroupHeader{
    text-align:center;
    width:100%;
    padding:5px;
    
}
@media (max-width:992px) {
.nav a{
    padding: .25rem .5rem;
}
}