<div class='prop-container'>
    <div class='text-center prop-header'>
        <span [hidden]='activeobject'>Select an Object</span>
        <span [hidden]='!activeobject'>Object Properties</span>
    </div>
    <div class='bg-light prop-window'>
        <div class=' prop-page' [ngClass]='{"border": activeobject}'>
            <div [hidden]='!activeobject || activeobject.type!=="state"'>
                <app-fsm-draw-prop-state [fsm]='fsm' [state]='activeobject' (statedeleted)='onObjectDeleted($event)'></app-fsm-draw-prop-state>
            </div>
            <div [hidden]='!activeobject || activeobject.type!=="transition"'>
                <app-fsm-draw-prop-transition></app-fsm-draw-prop-transition>
            </div>
        </div>
    </div>
</div>