<!-- Selection box -->
<svg:rect *ngIf='selected' class='fsm-state-select' stroke='black' stroke-width='1' [attr.width]='radius*2+2' [attr.height]='radius*2+2' [attr.x]='state.x-radius-1' [attr.y]='state.y-radius-1'  fill='none' stroke-dasharray="5 2"/>

<!-- Outer Circle for all state types -->
<svg:circle class='fsm-state' 
  [ngClass]='{"fsm-state-start": isStart(),"fsm-state-normal": isNormal(),"fsm-state-final": isFinal()}'
   [attr.cx]='state.x' [attr.cy]='state.y' [attr.r]='radius' stroke='black' stroke-width='2' [attr.fill]='getFill()' />

<!-- Inner circle for final states -->
<svg:circle *ngIf='isFinal()' class='fsm-state-final' [attr.cx]='state.x' [attr.cy]='state.y' [attr.r]='radius-5' stroke='black' stroke-width='2' fill='none' />

<!-- State Label -->
<svg:text class='svg-text fsm-state-label' [attr.x]='state.x' [attr.y]='state.y' fill='blue' font-weight='bold' alignment-baseline='central' text-anchor='middle' >
  {{state.name}}
</svg:text>

<!-- Event Target on top to catch mouse events -->
<svg:circle [attr.cx]='state.x' [attr.cy]='state.y' [attr.r]='radius' stroke='transparent' fill='transparent' 
  (click)='onClick($event)'
  (dblclick)='onDblClick($event)'
  (contextmenu)='onContextMenu($event)'
  (mousedown)='onMouseDown($event)'
  (mouseenter)='onMouseEnter($event)'
  (mouseleave)='onMouseLeave($event)'
  (mousemove)='onMouseMove($event)'
  (mouseout)='onMouseOut($event)'
  (mouseover)='onMouseOver($event)'
  (mouseup)='onMouseUp($event)'
/>