.prop-grouping-padded{
    padding: .3rem 1rem 1rem 1rem;
}

@media (max-width:576px) {
    .form-group label{
        margin:0;
    }
    .prop-grouping{
        width:47%;
        float:left;
        margin:0 0 .2rem 0;
    }
    .prop-grouping-padded{
        width:47%;
        float:left;
        padding: .2rem 1rem .2rem 1rem;
    }
    .prop-grouping:first-child{
        margin-right:6%;
    }
    .form-control{
        padding:.1rem;
    }
    .button-holder button{
        font-size:.8rem;
        margin-top: .2rem;
    }
    .divider{
        display: none;
    }
    .checkholder{
        display: flex;
        flex-direction:row;
    }  
    .error-msg{
        height:1rem;
        margin:.3rem -.25rem 0 -.25rem;
    }
}
@media (min-width:577px) {
    .prop-grouping{
        padding:0;
    }
   .button-holder button{
        margin-top:1rem;
        font-size:.7rem;
        padding-left:.35rem;
        padding-right:.35rem;
    } 
    .headertext{
        font-weight:bold;
    }
    .error-msg{
        height:1rem;
        margin-top:1rem;
    }
}