<nav class="navbar bg-light">
  <div class='border'>
    <div class='ctrlBarGroupHeader border-bottom fas'>Mode<span *ngIf='readonly' class='text-danger'> (Read Only)</span></div>
    <ul class="nav nav-pills">
      <li class="nav-item" ngbTooltip='Mouse Pointer' (click)='onModeChange("pointer")'>
        <a href='' class="nav-link active" data-toggle='pill'>
          <span class="fas fa-mouse-pointer" placement='top'></span>
        </a>
      </li>
      <li *ngIf='!readonly' class="nav-item" ngbTooltip='Add States' placement='top' (click)='onModeChange("state")'>
        <a href='' class="nav-link" data-toggle='pill'>
          <span class="fas fa-cogs"></span>
        </a>
      </li>
      <li *ngIf='!readonly' class="nav-item" (click)='onModeChange("transition")' ngbTooltip='Add Transitions' placement='top'>
        <a href='' class="nav-link" data-toggle='pill'>
          <span class="fas fa-recycle"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class='border'>
    <div class='fas ctrlBarGroupHeader border-bottom'>Zoom </div>

    <ul class="nav nav-pills">
      <li class="nav-item" (click)='onZoom(1)' ngbTooltip='Zoom In' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-search-plus"></span>
        </a>
      </li>
      <li class="nav-item" (click)='onZoom(-1)' ngbTooltip='Zoom Out' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-search-minus"></span>
        </a>
      </li>
      <li class="nav-item" (click)='onZoom(0)' ngbTooltip='Reset Zoom' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-search"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class='border'>
    <div class='fas ctrlBarGroupHeader border-bottom'>Tools</div>
    <ul class="nav nav-pills">

      <li *ngIf='!readonly' class="nav-item" (click)='onClear()' ngbTooltip='Clear Canvas' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-cut"></span>
        </a>
      </li>
      <li class="nav-item" (click)='onValidate()' ngbTooltip='Validate Automata' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-check"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class='border'>
    <div class='fas ctrlBarGroupHeader border-bottom'>Help</div>
    <ul class='nav nav-pills'>
      <li class="nav-item" (click)='onHelp()' ngbTooltip='Help' placement='top'>
        <a href='' class="nav-link">
          <span class="fas fa-question"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>