<div class='jumbotron'>
<h2 class='text-center'> Finite State Automata</h2>
</div>
<div>
  <div class='offset-2 col-md-8' style='overflow:hidden;position:relative'>
    <div class='d-flex flex-row'>
      <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation" style='margin-right:0;'>
        <li class="nav-item">
          <a #fsmTab href="#editFSM" class="nav-link active" data-toggle="tab" role="tab" aria-controls="editFSM" (click)='updateFsm()'>
            <span class='fas fa-edit'></span>Edit Automata</a>
        </li>
        <li class="nav-item">
          <a href="#infoFSM" class="nav-link" [ngClass]='{"disabled":!validFSM}' data-toggle="tab" role="tab" aria-controls="infoFSM">
            <span class='fas fa-info-circle'></span> Automata Info </a>
        </li>
        <li class="nav-item">
          <a href="#deterFSM" class="nav-link" [ngClass]='{"disabled":!validFSM || deterministic}' data-toggle="tab" role="tab" aria-controls="deterFSM">
            <span class='fas fa-gavel'></span> Determinism</a>
        </li>
        <li class="nav-item">
          <a href="#simFSM" class="nav-link" [ngClass]='{"disabled":!validFSM || true}' data-toggle="tab" role="tab" aria-controls="simFSM">
            <span class='fas fa-arrow-circle-up'></span> Simulation</a>
        </li>
        <li class="nav-item">
          <a href="#exampleFSM" class="nav-link" data-toggle="tab" role="tab" aria-controls="simFSM">
            <span class='fas fa-file-code'></span> Sample FSM's</a>
        </li>
      </ul>
      <div class="tab-content tab-content-container">
        <div class="tab-pane show active" id="editFSM" role="tabpanel">
          <div class='draw-box-holder bg-fsm' >
            <app-fsm-draw></app-fsm-draw>
          </div>
        </div>
        <div class="tab-pane fade" id="infoFSM" role="tabpanel">
          <div class='draw-box-holder'>
            <app-fsm-info></app-fsm-info>
          </div>
        </div>
        <div class="tab-pane fade" id="deterFSM" role="tabpanel">
          <div class='draw-box-holder'>
            <app-fsm-non-determ-info></app-fsm-non-determ-info>
          </div>
        </div>
        <div class="tab-pane fade" id="simFSM" role="tabpanel">
          <div class='draw-box-holder'>
            <app-fsm-sim></app-fsm-sim>
          </div>
        </div>
        <div class="tab-pane fade" id="exampleFSM" role="tabpanel">
          <div class='draw-box-holder'>
            <app-fsm-examples (exampleload)='onExampleLoad($event)'></app-fsm-examples>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>