<div class='scroll-container'>
  <div [style.width.px]='scrollSize' [style.height.px]='scrollSize' style='overflow: hidden;'>
    <svg:svg [attr.width]='drawSize*2' [attr.height]='drawSize*2' [attr.viewBox]='"0 0 "+zoomValue+" "+zoomValue'>
      <ng-template ngFor let-item [ngForOf]='states'>
        <g app-fsm-view-state [x]='item.uiData.x' [y]='item.uiData.y' [label]='item.label' [startState]='item.startState' [finalState]='item.finalState' [selected]='selectedState===item' stateRadius='25'></g>
      </ng-template>
    </svg:svg>
  </div>
</div>