.prop-page,.prop-item{
    width:100%;
}
.prop-page{
    height:100%;
}
.prop-item{

}

.prop-item input[type='text']{
    width:100%;
}
.prop-item input[type='checkbox']{
    margin-left:1rem;
}

.prop-card{
    margin:.5rem;
    padding:.5rem;
    overflow:none;
}