<div #parent class='prop-page'>
    <div #head style="overflow:hidden;padding: 1rem 0">
        <div  *ngIf='object===null' class='h5 text-center'>Select an object</div>
        <div  *ngIf='object!==null' class='h5 text-center'>Object Properties</div>
        </div>
        <div class='prop-item'  [style.height.px]='parent.offsetHeight-head.offsetHeight'>

         <div class='bg-light' style='overflow:auto;height:100%;position:relative;width:100%;'>
            <div *ngIf='state' class='prop-card rounded border'>
                State Name:
                <br/>
                <input type='text' [(ngModel)]="state.name" ngbTooltip='Enter a state name' />
                <br/>&nbsp;
                <br/> State Modes:
                <br/>
                <input type='checkbox' [(ngModel)]='start' /> Start
                <br/>
                <input type='checkbox' [(ngModel)]='final' /> Final
                <br/>
                <p>&nbsp;</p>
                <div class='text-center align-bottom'>
                    <button class=' btn btn-primary' [disabled]='!validState||!dirty' (click)='updateStateEdit()'>Update</button>
                    <button class='btn btn-secondary' (click)='cancelStateEdit()'>Cancel</button>
                </div>

                <div class='text-center align-bottom' style="margin-top:1rem;">
                    <button class=' btn btn-danger' (click)='deleteState()'>Delete</button>
                </div>
                <br/>
                <div style='min-height:50px'>
                <div class='alert-danger text-center font-weight-bold'>
                    {{stateErrMsg}}
                </div>
            </div>
            </div>
            <div *ngIf='transition' class='prop-card rounded border'>
                Source State:
                <br/>
                <div class='border'>{{transition.sourceState.name}}</div>
                <br/> Destination State:
                <br/>
                <div class='border'>{{transition.destState.name}}</div>
                <br/> Accepted characters
                <input type='text' [(ngModel)]='transition.charactersAccepted' ngbTooltip='Enter a comma seperated list of single characters or ranges (i.e. A-Z,a-z,0-9,x)'/>
                <p></p>
                <div class='text-center align-bottom'>
                    <button class=' btn btn-primary' [disabled]='!validTransition||!dirty' (click)='updateTransitionEdit()'>Update</button>
                    <button class='btn btn-secondary' (click)='cancelTransitionEdit()'>Cancel</button>
                </div>

                <div class='text-center align-bottom' style="margin-top:1rem;">
                    <button class=' btn btn-danger' (click)='deleteTransition()'>Delete</button>
                </div>
                <br/>
                <div class='alert-danger text-center font-weight-bold'>
                    {{transitionErrMsg}}
                </div>

            </div>
        </div> 
    </div>
</div>