.prop-page,.prop-container,.prop-area,.prop-card{
    width:100%;
}

.prop-page,.prop-card,.prop-area{
    height:100%;
}
.prop-header{
    padding:1rem 0;
}

.prop-area, .prop-card{
    padding: 1rem;
}

.prop-card input[type='text']{
    height:inherit;
}
.prop-item input[type='checkbox']{
    margin-left:1rem;
}
.form-check input{
    margin-left:1rem;
}
.flex-height-container{
    display:flex;
    flex-direction:column;
    height:100%;   
}

.flex-height-child{
    flex:1;
}
.pad0{
    padding:0;
}
.pad1{
    padding:1rem;
}
.button-holder{
    margin-top:1rem;
}
.fake-input{
    margin-bottom:.5rem;
    padding:.3rem;
}
.alert-danger{
    margin-top:.8em;
}