<div #parent class='prop-page'>
    <div #head style="overflow:hidden;padding: 1rem 0">
        <div [hidden]='object!==null' class='h5 text-center'>Select an object</div>
        <div [hidden]='object===null' class='h5 text-center'>Object Properties</div>
    </div>
    <div class='prop-item' [style.height.px]='parent.offsetHeight-head.offsetHeight'>

        <div class='bg-light' style='overflow:auto;height:100%;position:relative;width:100%;'>
            <div [hidden]='!state' class='prop-card rounded border'>
                <div class='form-group'>
                    <label for="stateName">State Name:</label>
                    <input type='text' class='form-control' [(ngModel)]="statename" ngbTooltip='Enter a state name' id='stateName' />
                </div>
                <div class='border' style='padding:1rem;'>
                    State Modes:<br/>
                    <div class='form-check form-check-inline'>
                        <input style='margin-left:1rem;' type="checkbox" class="form-check-input" id="checkStart" [(ngModel)]='start'>
                        <label class="form-check-label" for="checkFinal">Start</label>
                    </div><br/>
                    <div class='form-check form-check-inline'>
                        <input style='margin-left:1rem;' type="checkbox" class="form-check-input" id="checkFinal" [(ngModel)]='final'>
                        <label class="form-check-label" for="checkFinal">Final</label>
                    </div>
                </div>
                <br/>
                <p>&nbsp;</p>
                <div class='text-center align-bottom'>
                    <button class=' btn btn-primary' [disabled]='!validState||!dirty' (click)='updateStateEdit()'>Update</button>
                    <button class='btn btn-secondary' (click)='cancelStateEdit()'>Cancel</button>
                </div>

                <div class='text-center align-bottom' style="margin-top:1rem;">
                    <button class=' btn btn-danger' (click)='deleteState()'>Delete</button>
                </div>
                <br/>
                <div style='min-height:50px'>
                    <div class='alert-danger text-center font-weight-bold'>
                        {{stateErrMsg}}
                    </div>
                </div>
            </div>
            <div [hidden]='!transition' class='prop-card rounded border'>
                Source State:
                <br/>
                <div class='border' [innerHTML]='transition?transition.sourceState.name:""'></div>
                <br/> Destination State:
                <br/>
                <div class='border' [innerHTML]='transition?transition.destState.name:""'></div>
                <br />
                <div class='border' style='padding:1rem;'>
                    <div class='form-group'>
                        <label for='acceptChars'>Accepted characters</label>
                        <input id='acceptChars' type='text' class='form-control' [(ngModel)]="transitionCharacters"
                        ngbTooltip='Enter a comma seperated list of single characters or ranges (i.e. A-Z,a-z,0-9,x)'
                        [disabled]='transitionepsilon'>
                    </div>
                    <div class='form-check form-check-inline'>
                        <input style='margin-left:0;' type="checkbox" class="form-check-input" id="checkEpsilon" [(ngModel)]='transitionepsilon'>
                        <label class="form-check-label" for="checkEpsilon">Epsilon Transition</label>
                    </div>
                </div>
                <p></p>
                <div class='text-center align-bottom'>
                    <button class=' btn btn-primary' [disabled]='!validTransition||!dirty' (click)='updateTransitionEdit()'>Update</button>
                    <button class='btn btn-secondary' (click)='cancelTransitionEdit()'>Cancel</button>
                </div>
                <div class='text-center align-bottom' style="margin-top:1rem;">
                    <button class=' btn btn-danger' (click)='deleteTransition()'>Delete</button>
                </div>
                <br/>
                <div [hidden]='transitionErrMsg===""' class='alert-danger text-center font-weight-bold'>
                    {{transitionErrMsg}}
                </div>
                <div [hidden]='transitionErrMsg!==""' class='font-weight-bold'>
                    &nbsp;
                </div>

            </div>
        </div>
    </div>
</div>